body {
    animation: fadein 0.75s;
    background-color: #121212;
}

.fadeout {
    animation: fadeout 0.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.grid {
    display: inline-grid;
    padding: 7px 2px 2px 7px;
    gap: 3px;
    background-color: #008ACC;
    grid-template-rows: repeat(3, 158px);
    grid-template-columns: repeat(3, 158px);
}

.subgrid {
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: white;
    font: bold 32px calibri, sans-serif;
}

#win-text {
    opacity: 0;
    color: white;
    font: bold 48px calibri, sans-serif;
    transition: opacity 0.25s;
}